<div class="flex justify-center">
    <div class="w-1/3 mt-5">
        <div
            class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Book Store</h5>
                <a routerLink="/create" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                    Add New Book
                </a>
            </div>
            <div class="block">
                <p class="py-2">
                    List of all books in the store
                </p>
            </div>
            <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    @for (item of books(); track $index) {
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    {{ item.name }}
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    {{ categories()[item.category_id] }}
                                </p>
                            </div>
                            <div class="inline-flex items-center text-sm text-gray-900 dark:text-white">
                                <a class="me-2" href="">Edit</a>
                                <a href="">Delete</a>
                            </div>
                        </div>
                    </li>
                    } @empty {
                    <li class="py-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    No Book Found
                                </p>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>